body
{
  color : black;
  margin : auto;
  text-align: center;
  background-color : #F9F9F9;
  font-family: 'Inria Sans', sans-serif;
  font-size: large;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 180px;
}

@font-face {
    font-family: 'Inria Sans';
    src: url(../files/font/InriaSans-Light.ttf);
}

header{
  background-color:#515151 ;
  height:60px ;
  font-size: 34px;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  color: white;
}

header > div{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(60,96,223,0.83);
  width: 260px;
}

#rectangle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#accueil{
  align-items: center;
  justify-content: center;
  gap: 30px;
}

main{
  justify-content: center;
  align-items: center;
  display: flex;
}

#prenom{
  font-family: 'Inria Sans', sans-serif;
  color: black;
  font-size: 64px;
  margin: 10px;
}

#profession{
  font-family: 'Inria Sans', sans-serif;
  color: black;
  font-size: 40px;
}

#nom{
  margin: 0px;
}

.visible{
  display: flex;
}

.hidden{
  display: none;
}

.competence{
  flex-direction: column;
}

.web{
  flex-direction: column;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
}

