  body
  {
    font-family : Arial;
    background-color :black;
    background-image :https://github.com/BlackNexon74/BlackNexon74.github.io/blob/main/Nevermore_Title.png;
  }
a:hover {
  background-color: #38a832;
}
