  body
  {
    color : black;
    text-align: center;
    background-color :#1c1c1c;
    font-family: 'segoe-print', sans-serif;
  }
a:hover {
  color: #38a832;
  text-decoration : underline;
a{
  margin :auto;
  display : block;
  padding : 20px 50px 20px 50px;
  border : 5px black;
  background-color : green;
  text-decoration : none;
  font-size: large;
}
@font-face {
    font-family: 'segoe-print';
    src: url(https://www.dafontfree.net/embed/c2Vnb2UtcHJpbnQtYm9sZCZkYXRhLzQ2L3MvNjIxMDgvc2Vnb2VwcmIudHRm);
}

